In [1]:
# data taken from https://github.com/owid/energy-data
# data taken from https://ourworldindata.org/energy
import pandas as pd

In [2]:
energy_data = pd.read_csv("owid-energy-data.csv")

In [3]:
#q1 how many unique countries are there in the dataset?
len(set(energy_data["country"]))

242

In [4]:
#q2 how many unique countires in the dataset has a name that starts with A?
all_names = energy_data["country"]
len(set(all_names[all_names.str.startswith("A")]))

14

In [5]:
#q3 make a list of all column names in the dataset with no "_"
all_column_names = list(energy_data.columns)
answer = []
for i in all_column_names:
    if("_" not in i):
        answer.append(i)
answer

['country', 'year', 'population', 'gdp']

In [6]:
#q4 make a list containing all column names related to wind
all_column_names = list(energy_data.columns)
answer = []
for i in all_column_names:
    if("wind" in i):
        answer.append(i)
answer

['wind_electricity',
 'wind_share_elec',
 'wind_cons_change_pct',
 'wind_share_energy',
 'wind_cons_change_twh',
 'wind_consumption',
 'wind_elec_per_capita',
 'wind_energy_per_capita']

In [7]:
#q5 create a data frame containing data for all countires in 2016 that have non-empty(not NaN) gdp
energy_data[(energy_data["year"] == 2016) & (energy_data["gdp"])]

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
116,AFG,Afghanistan,2016,24.396,1.933,NaN,NaN,NaN,NaN,8.567,...,0.989,NaN,6.429743e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
356,ALB,Albania,2016,NaN,0.000,28.570,0.103,13.140,1.788,17.103,...,0.693,NaN,3.435154e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
476,DZA,Algeria,2016,0.000,NaN,12.260,99.811,1.773,13.840,-0.107,...,2.145,15.194,5.340000e+11,0.043,-0.320,0.008,-0.000,0.048,0.715,1.182
636,AGO,Angola,2016,NaN,NaN,NaN,NaN,-2.716,-27.804,-8.191,...,0.633,NaN,1.480000e+11,0.000,NaN,NaN,NaN,NaN,0.000,NaN
796,ARG,Argentina,2016,0.000,NaN,5.047,17.912,-4.709,-16.428,-0.268,...,0.322,0.825,8.200000e+11,0.393,-8.295,0.139,-0.125,1.376,12.595,31.638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16804,VNM,Vietnam,2016,-7.030,-18.991,-0.469,-0.483,-9.657,-19.251,7.421,...,0.075,0.179,5.750000e+11,0.125,18.030,0.061,0.081,0.528,2.328,5.634
17020,OWID_WRL,World,2016,-5.181,-2326.870,1.135,397.178,0.366,185.177,1.367,...,44.154,110.590,1.070000e+14,4.008,15.213,1.585,320.025,2423.694,128.475,324.717
17071,YEM,Yemen,2016,NaN,NaN,-82.456,-23.552,-38.231,-11.574,-6.816,...,5.411,NaN,6.272208e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
17308,ZMB,Zambia,2016,0.000,NaN,NaN,NaN,NaN,NaN,-10.866,...,0.010,NaN,5.757741e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN
17428,ZWE,Zimbabwe,2016,-37.694,-12.257,NaN,NaN,NaN,NaN,-14.633,...,0.641,NaN,2.515176e+10,0.000,NaN,NaN,NaN,NaN,0.000,NaN

In [8]:
#q6 make a list of all country names in 2016 that has a non-negative coal_prod_change_pct value?(return a list)
list(energy_data[(energy_data["year"] == 2016) & (energy_data["coal_prod_change_pct"] >= 0)]["country"])

['Afghanistan',
 'Africa',
 'Algeria',
 'Argentina',
 'Australia',
 'Austria',
 'Belgium',
 'Bhutan',
 'Bosnia and Herzegovina',
 'CIS',
 'Canada',
 'Chile',
 'Colombia',
 'Czechoslovakia',
 'Democratic Republic of Congo',
 'Denmark',
 'Eswatini',
 'France',
 'India',
 'Iran',
 'Ireland',
 'Italy',
 'Japan',
 'Kosovo',
 'Kyrgyzstan',
 'Middle East',
 'Mongolia',
 'Morocco',
 'Myanmar',
 'Nepal',
 'Netherlands',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Other Asia & Pacific',
 'Other CIS',
 'Pakistan',
 'Peru',
 'Philippines',
 'Portugal',
 'Russia',
 'Serbia',
 'South & Central America',
 'South Africa',
 'Sweden',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Turkey',
 'Ukraine',
 'Yugoslavia',
 'Zambia']

In [9]:
#q7 what is the absolute difference between China's coal_prod_change_pct value in 2013 and 2014(approximate to 3 digit)
china_coal_2013 = float(energy_data[(energy_data["year"] == 2013) & (energy_data["country"] == "China")]["coal_prod_change_pct"])
china_coal_2014 = float(energy_data[(energy_data["year"] == 2014) & (energy_data["country"] == "China")]["coal_prod_change_pct"])
abs(china_coal_2014 - china_coal_2013)

2.728

In [10]:
#q8 how many countries in 2015 have a wind_energy_per_capita that's larger than 100
len(energy_data[(energy_data["year"] == 2015) & (energy_data["wind_energy_per_capita"] > 100)])

43

In [11]:
#q9 make a list of all countires in 2016 that have a higher nuclear_share_energy than oil_share_energy
energy_data[(energy_data["year"] == 2016) & (energy_data["nuclear_share_energy"] > energy_data["oil_share_energy"])]

,iso_code,country,year,coal_prod_change_pct,coal_prod_change_twh,gas_prod_change_pct,gas_prod_change_twh,oil_prod_change_pct,oil_prod_change_twh,energy_cons_change_pct,...,solar_elec_per_capita,solar_energy_per_capita,gdp,wind_share_elec,wind_cons_change_pct,wind_share_energy,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_energy_per_capita
5741,FRA,France,2016,0.000,NaN,0.000,NaN,0.0,NaN,-1.630,...,133.902,317.324,2.600000e+12,3.826,0.115,1.985,0.062,53.817,330.627,832.198
16068,UKR,Ukraine,2016,6.214,12.39,1.005,1.893,NaN,NaN,4.822,...,10.981,27.603,4.290000e+11,0.621,-12.564,0.232,-0.345,2.399,21.336,53.643

In [12]:
#q10 what is float vlaue of the World total coal_consumption in 2017
float(energy_data[(energy_data["year"] == 2017) & (energy_data["country"] == "World")]["coal_consumption"])

43359.508